@using EventaDors.Entities.Classes
@model EventaDors.Entities.Classes.QuoteRequest

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}


 <div class="container">
     <a href="javascript:history.back()" class="form-control" >&lt; Back</a>
     <p></p>
     <h4>@Model.Name</h4>
        <form>
            <div class="form-row">
                <div class="col"><label class="col-form-label">Wedding Name:</label></div>
                <div class="col"><input class="form-control" type="text" asp-for="Name"></div>
            </div>
            <div class="form-row">
                <div class="col"><label class="col-form-label">Notes:</label></div>
                <div class="col"><textarea class="form-control" name="Notes">@Model.Notes</textarea></div>
            </div>
            @{
                int i = 0;
            }
            @foreach (var evt in Model.Events)
            {
                <div role="tablist" id="accordion-@i">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-@i .item-@i" href="#accordion-@i .item-@i">Event: @evt.Name</a></h5>
                        </div>
                        <div class="collapse item-@i" role="tabpanel" data-parent="#accordion-@i">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-6"><label class="col-form-label">Event Name:</label></div>
                                    <div class="col-md-6"><input class="form-control" type="text" asp-for="@evt.Name"></div>
                                    <div class="col-md-6"><label class="col-form-label">Event Date:</label></div>
                                    <div class="col-md-6"><input class="form-control" type="date" asp-for="@evt.EventDate"></div>
                                    <div class="col-md-6"><label class="col-form-label">Lead Weeks:</label></div>
                                    <div class="col-md-6"><input class="form-control" type="number" asp-for="@evt.LeadWeeks"></div>
                                    <div class="col-md-6"><label class="col-form-label">Venue</label></div>
                                    <div class="col-md-6"><a href="#">@GetVenueName(evt.Venue)</a></div>
                                    <div class="col-md-6"><label class="col-form-label"></label></div>
                                    <div class="col-md-6" style="text-align: right;"><a asp-action="EditEventDetails" asp-route-eventId="@evt.Id" asp-route-quoteId="@Model.QuoteIdIdentity" style="text-align: right;">Edit Event &gt;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                i++;
            }
        </form>
    </div>
@functions
{
    string GetVenueName(Venue venue)
    {
        string ret = "(Not Set)";
        if (venue != null)
            ret = venue.ToString();
        return ret;
    }

    string GetHelpMessage(CreatedModifiedBase obj, string name)
    {
        return obj.HelpMessages[name];
    }
}
