@using EventaDors.Entities.Classes
@model EventaDors.Entities.Classes.QuoteRequest

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}


<div class="container">
    @if (Model.ProcessingResult == ProcessingResult.Success)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.ProcessingResult.ToString()</strong> @Model.ProcessingMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <form asp-action="UpdateWedding" asp-controller="QuoteTemplate">
        <div class="container" style="align: right">
            <a style="background: rgb(144,109,154);color: rgb(252,209,91);" class="btn btn-light action-button" href="javascript:history.back()" class="form-control">&lt; Back</a>
            <input type="submit" class="btn btn-light action-button" style="background: rgb(144,109,154);color: rgb(252,209,91);" value="Save Changes">
        </div>
        <p></p>
        <div class="row">
            <h4><i class="fa fa-heart"></i> @Model.Name</h4>
        </div>
        <input name="QuoteIdIdentity" type="hidden" value="@Model.QuoteIdIdentity"/>
        <div class="form-row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="Wedding_Name" name="Wedding_Name" asp-for="Name">
                    <label for="Wedding_Name">Wedding Name</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="Wedding_Attendees" name="Wedding_Attendees" asp-for="Attendees">
                    <label for="Wedding_Attendees">Attendees</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-floating">
                    <textarea name="Wedding_Notes" class="form-control" id="Wedding_Notes">@Model.Notes</textarea>
                    <label for="Wedding_Notes">Notes</label>
                </div>
            </div>
        </div>
        <div role="tablist" id="accordion-0">
            @{
                int i = 1;
                int item = 0;
                int elementCount = 0;
            }
            @foreach (var evt in Model.Events)
            {
                elementCount = 0;

                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-0 .item-@item" href="#accordion-0 .item-@item"><i class="fa fa-tags"></i> @evt.Name</a></h5>
                        </div>
                    <div class="collapse item-@item" role="tabpanel" data-parent="#accordion-0">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input name="event.Name.@evt.QuoteRequestEventId" class="form-control" id="event.Name.@evt.QuoteRequestEventId" asp-for="@evt.Name">
                                        <label for="event.Name.@evt.QuoteRequestEventId">Event Name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input name="event.Notes.@evt.QuoteRequestEventId" class="form-control" id="event.Notes.@evt.QuoteRequestEventId" asp-for="@evt.Notes">
                                        <label for="event.Notes.@evt.QuoteRequestEventId">Event Notes</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="date" name="event.EventDate.@evt.QuoteRequestEventId" class="form-control" id="event.EventDate.@evt.QuoteRequestEventId" asp-for="@evt.EventDate">
                                        <label for="event.EventDate.@evt.QuoteRequestEventId">Event Date/Time</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input name="event.LeadWeeks.@evt.QuoteRequestEventId" class="form-control" id="event.LeadWeeks.@evt.QuoteRequestEventId" asp-for="@evt.LeadWeeks">
                                        <label for="event.LeadWeeks.@evt.QuoteRequestEventId">Lead Weeks</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input list="datalistOptions" type="text" name="event.Venue.@evt.QuoteRequestEventId" placeholder="No venues set up for this event"
                                               class="form-control" id="event.Venue.@evt.QuoteRequestEventId" value="@GetVenueName(evt.Venue)">
                                        <label for="event.Venue.@evt.QuoteRequestEventId">Venue (Must be set up first)</label>
                                        <datalist id="datalistOptions">
                                            <option value="The Basement, Leicester, LE1 6HH"/>
                                            <option value="St Andrew's Church, Leicester, LE4"/>
                                            <option value="Quorn Country Hotel, Leicester, LE12 8BB"/>
                                            <option value="Bride's Home, Leicester, LE3 4ER"/>
                                            <option value="Grooms's Home, Leicester, LE3 6UR"/>
                                            <option value="(none)"/>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col" align="right"><a asp-action="Index" asp-controller="Venues">Manage Venues</a></div>
                            </div>
                            @foreach (var element in evt.Elements)
                            {
                                elementCount++;
                                <div role="tablist" id="accordion-@i">
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-@i .item-@elementCount" href="#accordion-@i .item-@elementCount"><i class="far fa-list-alt"></i> @element.Name</a></h5>
                                        </div>
                                        <div class="collapse item-@elementCount" role="tabpanel" data-parent="#accordion-@i">
                                            <div class="card-body">
                                                <div class="form-row">
                                                     <div class="col">
                                                        <div class="form-floating">
                                                            <input name="element.Name.@element.QuoteRequestElementId" class="form-control" id="element.Name.@element.QuoteRequestElementId" asp-for="@element.Name">
                                                            <label for="element.Name.@element.QuoteRequestElementId">Element Name</label>
                                                        </div>
                                                     </div> 
                                                    <div class="col">
                                                        <div class="form-floating">
                                                            <input name="element.Notes.@element.QuoteRequestElementId" class="form-control" id="element.Notes.@element.QuoteRequestElementId" asp-for="@element.Notes">
                                                            <label for="element.Notes.@element.QuoteRequestElementId">Notes</label>
                                                        </div>
                                                     </div> 
                                                    <div class="col">
                                                        <div class="form-floating">
                                                            <input name="element.Budget.@element.QuoteRequestElementId" class="form-control" id="element.Budget.@element.QuoteRequestElementId" type="number" asp-for="@element.Budget">
                                                            <label for="element.Budget.@element.QuoteRequestElementId">Budget</label>
                                                        </div>
                                                    </div> 
                                                    <div class="col">
                                                        <div class="form-floating">
                                                            <input name="element.DueDate.@element.QuoteRequestElementId" class="form-control" id="element.DueDate.@element.QuoteRequestElementId" type="date" asp-for="@element.DueDate">
                                                            <label for="element.DueDate.@element.QuoteRequestElementId">Due Date</label>
                                                        </div>
                                                    </div> 
                                                    <div class="col">
                                                        <div class="form-floating">
                                                            <input name="element.Quantity.@element.QuoteRequestElementId" class="form-control" id="element.Quantity.@element.QuoteRequestElementId" type="number" asp-for="@element.Quantity">
                                                            <label for="element.Quantity.@element.QuoteRequestElementId">Quantity</label>
                                                        </div>
                                                    </div> 
                                                    <div class="col">
                                                        <div class="form-floating">
                                                            <input name="element.LeadWeeks.@element.QuoteRequestElementId" class="form-control" id="element.LeadWeeks.@element.QuoteRequestElementId" type="number" asp-for="@element.LeadWeeks">
                                                            <label for="element.LeadWeeks.@element.QuoteRequestElementId">Lead Weeks</label>
                                                        </div>
                                                    </div> 
                                                    <div class="form-row" align="right">
                                                        <input type="checkbox" name="element.Completed.@element.QuoteRequestElementId" id="element.Completed.@element.QuoteRequestElementId" asp-for="@element.Completed"/>
                                                        <label for="element.Completed.@element.QuoteRequestElementId">Completed</label>
                                                        <input type="checkbox" name="element.Exclude.@element.QuoteRequestElementId" id="element.Exclude.@element.QuoteRequestElementId" asp-for="@element.Exclude"/>
                                                        <label for="element.Exclude.@element.QuoteRequestElementId">Exclude this element</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                item++;
                i++;
            }
        </div>
    </form>
</div>
@functions
{
    string GetVenueName(Venue venue)
    {
        string ret = "(none)";
        if (venue != null)
            ret = venue.ToString();
        return ret;
    }

    string GetHelpMessage(CreatedModifiedBase obj, string name)
    {
        return obj.HelpMessages[name];
    }
}
